.centered {
    width: 97%;
    margin: 0 auto; /* Centers the element horizontally */
  }
  
  .filter-strip {
    padding: 1rem 1.3rem;
    margin-left: 21px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    gap: 20px; /* Adds spacing between filter items */
    border-radius: 1rem;
  }
  
  .filter-item {
    flex: 1;
    min-width: 150px; /* Prevents items from becoming too narrow */
  }
  
  .contest-list {
    margin-top: 40px; /* Adds spacing above the contest list */
    margin-left: 22px;
  }
  
  .bar-chart {
    margin-top: 40px; /* Adds spacing above the chart */
  }
  